/* .container {
  display: grid;
  grid-auto-rows: min-content;
  grid-auto-columns: min-content;
}

.output {
  grid-row: 1/4;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.wr {
  grid-row: 1/4;
  border: 1px solid gray;
  display: flex;
  align-items: center;
  justify-content: center;

  & p {
    margin: 10px;
  }
}

.strang_one_line {
  padding: 0;
  grid-row: 1/2;
  grid-column: 3/4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & p {
    margin: 0;
    width: max-content;
  }
}

.strang_two_line {
  padding: 0;
  grid-row: 3/4;
  grid-column: 3/4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & p {
    margin: 0;
    width: max-content;
  }
}

.test_p {
  position: absolute;
  right: 20px;
} */

.value_container {
  background-color: rgba(120, 0, 0, 0.5);
  position: absolute;
  height: 21px;
  width: 47px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.value_one_container {
  left: 217px;
  bottom: 188px;
}

.value_two_container {
  left: 158px;
  bottom: 29px;
}

.wr_container {
  left: 91px;
  bottom: 123px;
}

.output_container {
  left: 17px;
  bottom: 123px;
}

img.solaranlage {
  height: 202px;
  width: 400px;
}
